tr.even, tr.odd {
	border-top: 1px solid #eee;
}

tr.even {
	background-color: #fdfdfd;
}
tr.odd {
	background-color: #f4f4f4;
}

tr.directoryObj {
	cursor: pointer
}

.rowSelected {
	background-color: #3875d7!important;
  /*background-color: #d9edf7!important; /*#3875d7!important;*/
  color: white!important;
  font-weight: bold!important;
}

.rowSelected td>span::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
.rowSelected td>span::-moz-selection {
  background: transparent; /* Gecko Browsers */
}



table th {
	white-space: nowrap;
	position: relative;
	height: 40px;
	padding: 10px 5px;
}

table td {
	padding: 10px;
}

table .fa-sort {
	display: block;
}

table .fa-sort-desc, .fa-sort-asc {
	display: none;
}

table .headerSortDown .fa-sort-desc {
	display: block;
}

table .headerSortDown .fa-sort-asc, table .headerSortDown .fa-sort {
	display: none;
}

table .headerSortUp .fa-sort-asc {
	display: block;
}

table .headerSortUp .fa-sort-desc, table .headerSortUp .fa-sort {
	display: none;
}

table .header {
	cursor:pointer;
}

table .header i {
	position: absolute;
	right: 7px;
	top: 0;
	line-height: 40px;
}

/*init  TablePager */
.tablePager {
	line-height: 40px;
	text-align: center;
	background-color: #f4f4f4;
	margin-left: 0px;
	margin-right: 0px;
}

.tablePager > div {
	margin-bottom: 0px!important;
}

.ts-page{
	display: inline!important;
	font-size: 16px;
	border-bottom: 0px solid #2bab69;
	text-align: center;
	background: white;
	height: 18px;
	color: black;
}

div .tablePager-pageSize {
	line-height: 40px;
	text-align: right;
}

.tablePager-pageSize > label {
	font-size: 16px;
	display: inline;
	margin-right: 5px;
}

.pageSizeInput {
	color: black;
	height: 24px;
	width: 30px;
	text-align: center;
	background: white;
	font-size: 16px;
	display: inline;
	/*padding: 6px 10px;*/
}

/* pager output text */
.tablesorter-pager .pagedisplay {
    padding: 0 5px 0 5px;
    width: 50px;
    text-align: center;
    background: none;
    border: none;
    border-bottom: 1px solid #2bab69;
    border-radius: 0;
    outline: 0;
    display: inline!important;
    width: 100%;
    height: 30px;
    line-height: 30px;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-size: 16px;
    color: #999999;
}

.first, .prev, .next, .last {
	opacity: 1;
	filter: alpha(opacity=1);
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.first.disabled, .prev.disabled, .next.disabled, .last.disabled {
	/*display: none;*/
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: default;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.hiddenRow {
	display: none;
}