body {
  /*padding-top: 70px;*/
  padding-bottom: 30px;
}

.navbar .container-fluid {
  width: auto;
}

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.placeholder:hover {
	background-color:#CACACA;
}

.placeholder:hover h4 {
	color: red;
}

.no_result p {
	padding-top: 10px;
	display: block;
	text-align: center;
	font-style: italic;
}

.load_icon {
	display: none;
}

.load_icon_disks {
	font-size: 18px;
}

.waiting_ajax {
	display: inline-block!important;
}

.toolbarButton {
	opacity: 1;
	filter: alpha(opacity=1);
	cursor: pointer;
  pointer-events: auto;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.disabled {
	/*display: none;*/
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: default;
  pointer-events: none;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.notActive {
	/*display: none;*/
	opacity: 0.3;
	filter: alpha(opacity=30);
	cursor: pointer;
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

.centered-full{
  text-align: center;
  width: 100%!important;
  padding-top: 20px!important;
  padding-left: 50px!important;
  padding-right: 50px!important;
  padding-bottom: 20px!important;
}

.pathContainer span{
  word-wrap: break-word;
}
.pathContainer{
  margin-bottom: 10px!important;
}

.loaderDiv {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 99999;
	background: white;
	background: rgba(255,255,255,0.8);
}

.loaderImg {
	margin: 0 auto;
	position: absolute;
	top: 50%;
	margin-top: -199px;
	left: 0;
	right: 0;
	max-width: 100%;
}

.diskDataContainer {
	position: relative;
}

.diskInfoContainer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	padding-top: 10%;
	padding-left: 10%;
	padding-bottom: 10%;
	padding-right: 10%;
}

.diskInfoContainer_Background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1;
	padding-top: 15%;
	padding-left: 10%;
	padding-bottom: 20%;
	padding-right: 10%;
}

.diskInfoContainer_inner {
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	z-index: 2;	
}

div.errorField{
	display: none;
	border-top: 1px solid red;
}

strong.errorField{
	/*display: none;*/
	color: red;
}

.modal-header, h4, .close {
      text-align: center;
}

.knownDisks_Container{
	min-height: 300px;
}

.knownDisks_loaderImg {
	top: 15%;
	margin-top: 0px;
}

.a_hover_prevent {
	background-color: transparent!important;
	background-image: none!important;
	cursor: default!important;
}

.process_btn_container {
	width: 100%;
	display: inline-block;
	margin-top: 10px;
}